* {
    margin: 0;
    padding: 0;
}

#visible_game_wrapper {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

#game_wrapper {
    height: 100%;
    width: 120vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


#ground {
    height: 40%;
    width: 100%;
    background: rgb(87 69 139)
}

#characters{
    position: relative;
    height: 30%;
    width: 100%;
    display: flex;
}

#mainCharacter {
    position: absolute;
    bottom: 0;
    height: 55px;
    width: 100px;
    left: 600px;
}

#mainCharacterImg{
    height: 100%;
    width: auto;
}

#subject_container {
    position: absolute;
    height: 20vh;
    width: 550px;
    left : 50px;
    top: 50px;
    font-size: large;
    font-weight: bold;
    color: rgb(125, 101, 197);
}

#mistakes_container {
    position: absolute;
    top : 125px;
    left : 50px;
    color: rgb(125, 101, 197);
    font-weight: bold;
}

#mistake_notif {
    position: absolute;
    top: 200px;
    left: 50px;
    color: red;
    font-weight: bold;
}